﻿@model ProjectStatisticsModel
@{
    ViewData["Title"] = "Статистика";
}

<div class="col">
    <br />
    <div class="text-center m-sm-1">
        <p class="display-4">Общая статистика по проектам</p>
        <p>В статистике представленны только ваши проекты, которые существуют на данный момент</p>
    </div>
    <br />
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <a class="btn-collapse " data-toggle="collapse" href="#generalInfo" role="button" aria-expanded="false" aria-controls="generalInfo">
                    Показать общую статистику <i class="fas fa-chevron-down"></i>
                </a>
            </h5>
        </div>
        <div class=" font-weight-bold collapse" id="generalInfo">
            <div class=" card-body">
                <p>Общее количество проектов: <text class="text-success">@Model.ProjectModels.Count</text> </p>
                <p>Общее количество ссылок: <text class="text-success">@Model.AmountCountLink</text> </p>
                <p>Общее количество открытых ссылок: <text class="text-success">@Model.AmountCountPublicLink</text></p>
                <p>Общее количество активных ссылок: <text class="text-success">@Model.AmountCountActiveLink</text></p>
                <p>Общее количество переходов: <text class="text-success">@Model.AmountUseCount</text></p>
            </div>
        </div>
    </div>
    <br />
    <div>
        <table class="table">
            <tr class="font-weight-bold text-center text-secondary">
                <td style="width:20vw">Название</td>
                <td style="width:20vw">Количество ссылок</td>
                <td style="width:20vw">Количество переходов</td>
                <td style="width:20vw">Количество общедоступных ссылок</td>
                <td style="width:20vw">Количество активных ссылок</td>
            </tr>
            @if (Model.ProjectModels != null)
            {
                @foreach (var item in Model.ProjectModels)
                {
                    <tr class="text-black-50">
                        <td>@item.Caption</td>
                        <td class="text-center">@item.CountLink</td>
                        <td class="text-center">@item.UseCount</td>
                        <td class="text-center">@item.CountPublicLink</td>
                        <td class="text-center">@item.CountActiveLink</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/js/MyScripts.js"></script>
}


