﻿@model LinkStatisticsModel
@{
    string projectName = Model.Links.ElementAt(0).Project.Caption;
    ViewData["Title"] = "Статистика";
}

<div class="col">
    <br />
    <div class="text-center m-sm-1">
        <p class="display-4">Общая статистика по проекту @projectName</p>
        <p>В статистике представленны только ваши ссылки из проекта, которые существуют на данный момент</p>
    </div>
    <br />
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <a class="btn-collapse " data-toggle="collapse" href="#generalInfo" role="button" aria-expanded="false" aria-controls="generalInfo">
                    Показать общую статистику <i class="fas fa-chevron-down"></i>
                </a>
            </h5>
        </div>
        <div class=" font-weight-bold collapse" id="generalInfo">
            <div class=" card-body">
                <p>Общее количество ссылок: <text class="text-success">@Model.LinkCount</text> </p>
                <p>Общее количество открытых ссылок: <text class="text-success">@Model.PublicLinkCount</text></p>
                <p>Общее количество активных ссылок: <text class="text-success">@Model.ActiveLinkCount</text></p>
                <p>Общее количество переходов: <text class="text-success">@Model.TotalUseAmount</text></p>
                <p>Время создания первой существующей ссылки: <text class="text-success">@Model.FirstLinkDate.ToString("dd-MM-yyyy HH:mm:ss")</text></p>
                <p>Время создания последней существующей ссылки: <text class="text-success">@Model.LastLinkDate.ToString("dd-MM-yyyy HH:mm:ss")</text></p>
            </div>
        </div>
    </div>
    <br />
    <div>
        <table class="table">
            <tr class="font-weight-bold text-center text-secondary">
                <td style="width:22vw">Укороченая ссылка</td>
                <td style="width:45vw">Описание</td>
                <td style="width:10vw">Количество переходов</td>
                <td style="width:10vw">Дата создания</td>
                <td style="width:13vw"></td>
            </tr>
            @if (Model.Links != null)
            {
                @foreach (var item in Model.Links)
                {
                    string @urlString = Url.Action("RedirectToOldLink", "ShortLink", new { id = item.Id }, "https");
                    <tr class="text-black-50">
                        <td>
                            <new-link link-id="item.Id">
                                @urlString
                            </new-link>
                        </td>
                        <td>@item.Description</td>
                        <td class="text-center">@item.UseCount</td>
                        <td class="text-center">@item.DateOfCreate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                        <td class="row">
                            <div>
                                @if (item.IsPublic)
                                {
                                    <button class="btn btn-link text-black-50">
                                        <i title="Данная ссылка видна на главной странице" class="far fa-eye"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-link text-black-50">
                                        <i title="Данная ссылка не видна на главной странице" class="far fa-eye-slash"></i>
                                    </button>
                                }
                            </div>
                            <div>
                                @if (item.IsActive)
                                {
                                    <button class="btn btn-link text-black-50">
                                        <i title="Данная ссылка активна" class="fas fa-toggle-on"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-link text-black-50">
                                        <i title="Данная ссылка не активна" class="fas fa-toggle-off"></i>
                                    </button>
                                }
                            </div>
                            <button class="btn btn-link text-black-50">
                                <i title="Исходная ссылка: @item.OldLink" class="far fa-hand-point-down"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/js/MyScripts.js"></script>
}

