﻿@{
    ViewData["Title"] = "Статистика";

}

    <div>
        <div class="justify-content-center">
            <div class="text-center m-md-5 ">
                <h2>Выберите вид статистики для просмотра</h2>
                <p class=" text-black-50">В случае необходимости укажите дополнительные параметры!</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 offset-1 ">
                <div class="border border-secondary rounded " style="background: #e8e8e8">
                    <div class="p-md-3 pl-md-4 pr-md-4">
                        <br />
                        <label class="">Общая статистика по ссылкам</label>
                        <br />
                        <br />
                        <a asp-action="AllLinks" asp-controller="Statistics" class="btn btn-outline-primary">Выбрать</a>
                    </div>
                </div>
            </div>
            <div class="col-4 offset-2">
                <div class="border border-secondary  rounded " style="background: #e8e8e8">
                    <form asp-action="" asp-controller="">
                        <div class=" p-md-3 pl-md-4 pr-md-4">
                            <br />
                            <label class="">Общая статистика по проектам</label>
                            <br />
                            <br />
                            <a asp-action="AllProjects" asp-controller="Statistics" class="btn btn-outline-primary">Выбрать</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row text-center ">
            <div class="col-4 offset-1 ">
                <div class="border border-secondary rounded " style="background:#e8e8e8">
                    <form asp-action="LinksByProject" asp-controller="Statistics" method="get" asp-anti-forgery="true">
                        <div class="validation p-md-3 pl-md-4 pr-md-4">
                            <br />
                            <div>
                                <label class="">Статистика по проекту</label>
                                <br />
                                <small><label class="text-secondary">Выберите проект</label></small><br />
                                @Html.DropDownList("projectId", ViewBag.Projects as SelectList)
                            </div>
                            <br />
                            <div class="form-group text-center">
                                <input type="submit" value="Выбрать" class=" btn btn-outline-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4 offset-2 align-content-center ">
                <div class="border border-secondary rounded " style="background:#e8e8e8">
                    <form asp-action="ShowDiagram" asp-controller="Statistics" method="get">
                        <div class="p-md-3 pl-md-4 pr-md-4">
                            <br />
                            <div class="form-group text-center">
                                <br />
                                <br />
                                <label class="">Отображение диаграммы</label>
                                <br />
                                <br />
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Выбрать" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>