﻿@model List<ShortLinks.BLL.Models.Link>
@{
    var step = (Model.ElementAt(0).UseCount / 5.0).ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-GB"));
    ViewData["Title"] = "Статистика";
}
<div style="font-family:Tahoma, Arial, Helvetica, sans-serif">
    <canvas id="Chart" width="400" height="200"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

@section scripts
{
    <script type="text/javascript">
        var captions = [];
        var useCount = [];
        @foreach (var link in Model)
        {
            @:captions.push('@link.Description [@link.Project.Caption](@link.DateOfCreate.ToShortDateString())');
            @:useCount.push('@link.UseCount');
        }

        var canvas = document.getElementById('Chart');
        var data = {
            labels: captions,
            datasets: [
                {
                    label: 'Количество переходов',
                    backgroundColor: "rgba(3, 223, 252, 0.2)",
                    borderColor: "rgba(3, 252, 161, 1)",
                    borderWidth: 2,
                    hoverBackgroundColor: "rgba(3, 202, 252, 0.4)",
                    hoverBorderColor: "rgba(0, 232, 135, 1)",
                    data: useCount,
                }
            ]
        };

        var myBarChart = Chart.Bar(canvas, {
            data: data,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                    onClick: null
                },
                title: {
                    display: true,
                    text: 'Диаграмма популярности ссылок',
                    fontSize: 35
                },
                scales: {
                    yAxes: [{ ticks: { stepSize: @step, beginAtZero: true, fontSize: 12, fontFamily: "'Lato', sans-serif", fontColor: '#005', fontStyle: '500' } }],
                    xAxes: [{ ticks: { fontSize: 12, fontFamily: "Tahoma, Arial, Helvetica, sans-serif", fontColor: '#005', fontStyle: '500' } }]
                }
            }
        });


    </script>
}
