﻿@model LinkModel
@{
    Link link = ViewBag.Link;
    ViewData["Title"] = "Редактирование ссылки";
}
<div class="row justify-content-center">
    <div class="col-md-5">
        <br />
        <br />
        <div>
            <h4 class="text-center">Изменение ссылки  <q><i>@link.Id</i></q></h4>
        </div>
        <br />
        <div class="border border-secondary rounded bg-white p-4 m-3">
            <form asp-action="Edit" asp-controller="Link" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="form-group">
                    <label asp-for="OldLink" class="control-label text-secondary small">Ссылка для перехода</label><br />
                    <input type="text" asp-for="OldLink" value="@link.OldLink" size="48" />
                    <span class="text-danger small" asp-validation-for="OldLink" />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label text-secondary small">Описание</label><br />
                    <textarea for="Description" name="Description" cols="50" rows="5">@ViewBag.Link.Description </textarea>
                    <span class="text-danger small" asp-validation-for="Description" />
                </div>
                <div class="">
                    <label asp-for="IsActive" class="control-label text-secondary small">Активность ссылки - </label>
                    @if (link.IsActive)
                    {
                        <input type="checkbox" checked asp-for="IsActive" value="true" />
                    }
                    else
                    {
                        <input type="checkbox" asp-for="IsActive" value="true" />
                    }
                    <input type="hidden" asp-for="IsActive" value="false" />
                </div>
                <div class="">
                    <label asp-for="IsPublic" class="control-label text-secondary small">Данную ссылка могут видеть другие пользователи сайта - </label>
                    @if (link.IsPublic)
                    {
                        <input type="checkbox" checked asp-for="IsPublic" class="" value="true" />
                    }
                    else
                    {
                        <input type="checkbox" asp-for="IsPublic" class="" value="true" />

                    }
                    <input type="hidden" asp-for="IsPublic" value="false" />
                </div>
                <div>
                    <input type="hidden" asp-for="Id" value="@link.Id" />
                    <input type="hidden" asp-for="ProjectId" value="@link.ProjectId" />
                </div>
                <br />
                <div class="form-group row justify-content-around">
                    <div class="ml-sh-5">
                        <input type="submit" value="Изменить" class="btn btn-outline-primary" />
                    </div>
                    <div>
                        <button onclick="JavaScript:window.history.back(1); return false;" class="btn btn-outline-warning">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}