﻿@model Link
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="text-sm-secondary text-sm-center">Выберите проект</h4>
    </div>
    <div class="modal-body">
        <br />
        <dl class="dl-horizontal">
            <dt class="text-sm-center">
                Выберите проект для перемещения ссылки
                <br />
                с описанием <q>@Model.Description</q>
            </dt>
        </dl>
        <div class=" container">
            <form method="post" asp-action="Move" asp-controller="Link">
                <div class=" d-flex justify-content-sm-center">
                    @Html.DropDownList("projectId", ViewBag.Projects as SelectList)
                    <input type="hidden" name="linkId" value="@Model.Id">
                </div>
                <br />
                <br />

                <div class=" container">
                    <div class="d-flex justify-content-sm-around">
                        <div>
                            <input type="submit" value="Переместить" class="btn btn-outline-primary">
                        </div>
                        <div>
                            <input type="button" value="Отменить" class="btn btn-outline-warning" data-dismiss="modal">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
