﻿@model LinksAndDefaultProjectModel
@{
    ViewData["Title"] = "Все ссылки";
}
<div class="col">
    <br />
    <div class="text-center m-sm-1">
        <p class="display-4">
            Все зарегестрированные ссылки
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                <a asp-action="Add" asp-controller="Link" asp-route-projectId="@Model.Project.Id">Добавить</a> ссылку в проект по умолчанию.
            </p>
        }
    </div>
    <br />
    <div>
        <table class="table">
            <tr class="font-weight-bold text-center text-secondary">
                <td style="width:30vw">Укороченая ссылка</td>
                <td style="width:45vw">Описание</td>
                <td style="width:10vw">Дата создания</td>
                <td style="width:15vw"></td>
            </tr>
            @foreach (var item in Model.Links)
            {
                string @urlString = Url.Action("RedirectToOldLink", "ShortLink", new { id = item.Id }, "https");
                <tr class="text-black-50">
                    <td>
                        <new-link link-id="@item.Id">
                            @urlString
                        </new-link>
                    </td>
                    @{ 
                    //получить href ссылки и передать для копирования
                    }
                    <td>@item.Description</td>
                    <td class="text-center">@item.DateOfCreate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td class="row">
                        <div>
                            @if (item.IsActive)
                            {
                                <button class="btn btn-link text-black-50">
                                    <i title="Данная ссылка активна" class="fas fa-toggle-on"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link text-black-50">
                                    <i title="Данная ссылка не активна" class="fas fa-toggle-off"></i>
                                </button>
                            }
                        </div>
                        <button class="btn btn-link text-black-50">
                            <i title="Исходная ссылка(для копирования щёлкните по иконке): @item.OldLink" class="far fa-hand-point-down zoom" onclick='javascript: navigator.clipboard.writeText("@item.OldLink")'></i>
                        </button>
                        <button class="btn btn-link text-black-50" onclick='javascript: navigator.clipboard.writeText("@urlString")'>
                            <i title="Копировать" class="far fa-copy zoom"></i>
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
