﻿@model LinksAndDefaultProjectModel
@{

    ViewData["Title"] = "Мои ссылки";
}
<div class="col">
    <br />
    <div class="text-center m-sm-1">
        <p class="display-3">
            Мои ссылки
        </p>
        <p>
            <a asp-action="Add" asp-controller="Link" asp-route-projectId="@Model.Project.Id">Добавить</a> ссылку в проект по умолчанию.
        </p>
    </div>
    <br />
    <div>
        <table class="table">
            <tr class="font-weight-bold text-center text-secondary">
                <td style="width:25vw">Укороченая ссылка</td>
                <td style="width:32vw">Описание</td>
                <td style="width:10vw">Дата создания</td>
                <td style="width:33vw"></td>
            </tr>
            @foreach (var item in Model.Links)
            {
                string @urlString = Url.Action("RedirectToOldLink", "ShortLink", new { id = item.Id }, "https");
                <tr class="text-black-50">
                    <td>
                        <new-link id="link_@item.Id" link-id="@item.Id">
                            @urlString
                        </new-link>
                    </td>
                    <td>@item.Description</td>
                    <td class="text-center">@item.DateOfCreate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td class="row">
                        <div>
                            @if (item.IsPublic)
                            {
                                <button class="btn btn-link text-black-50">
                                    <i title="Данная ссылка видна на главной странице" class="far fa-eye"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link text-black-50">
                                    <i title="Данная ссылка не видна на главной странице" class="far fa-eye-slash"></i>
                                </button>
                            }
                        </div>
                        <div>
                            @if (item.IsActive)
                            {
                                <button class="btn btn-link text-black-50">
                                    <i title="Данная ссылка активна" class="fas fa-toggle-on"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link text-black-50">
                                    <i title="Данная ссылка не активна" class="fas fa-toggle-off"></i>
                                </button>
                            }
                        </div><button class="btn btn-link text-black-50">
                            <i title="Проект: @item.Project.Caption" class="far fa-folder"></i>
                        </button>
                        <button class="btn btn-link text-black-50">
                            <i title="Исходная ссылка(для копирования щёлкните по иконке): @item.OldLink" class="far fa-hand-point-down zoom" onclick='javascript: navigator.clipboard.writeText("@item.OldLink")'></i>
                        </button>
                        <button class="btn btn-link text-black-50" onclick='javascript: navigator.clipboard.writeText("@urlString")'>
                            <i title="Копировать" class="far fa-copy zoom"></i>
                        </button>
                        <button class="btn btn-link ">
                            <a asp-action="Edit" asp-controller="Link" asp-route-linkId="@item.Id" class="text-black-50 ">
                                <i title="Изменить" class="far fa-edit zoom"></i>
                            </a>
                        </button>
                        <div id="modDialogDelete" class="modal fade">
                            <div id="dialogContentDelete" class="modal-dialog"></div>
                        </div>
                        <button class="btn btn-link ">
                            <a asp-action="ConfirmDelete" asp-controller="Link" asp-route-linkId="@item.Id" class="text-black-50 delItem ">
                                <i title="Удалить" class="fas fa-trash zoom"> </i>
                            </a>
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/MyScripts.js"></script>
}