﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<h3 class="m-sm-5 text-center text-primary">Политика конфиденциальности</h3>
<p class="font-weight-bold text-black-50">Правила</p>
<ul class=" text-black-50">
    <li>Используя данный сервис вы соглашаетесь использовать куки.</li>
    <li>При распространении ссылок вы разрешаете ими пользоваться всем, у кого они будут, даже в случае распространения третьими лицами.</li>
    <li>Если ссылка является общедустопной вы разрешаете другим пользователям данного сервиса распространять её от вашего имени.</li>
</ul>
<br />
<p class="font-weight-bold"><text class="text-danger">Внимание!!! </text>Администрация, создатель и владелец сайта не несут никакой ответственности за материал распростроняемый пользователями и не причастны к этому.</p>
