﻿@{
    ViewData["Title"] = "Вход";
}
@model ShortLinks.BLL.ViewModels.LoginModel

<div class="row justify-content-center">
    <div class="text-center m-md-5 p-md-5">
        <div>
            <h2>Вход на сайт</h2>
        </div>
        <br />
        <div class="border border-secondary rounded bg-white">
            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation text-danger small " asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <label class="text-secondary small" asp-for="Email">Введите Email</label><br />
                        <input type="email" asp-for="Email" /><br />
                        <span class="text-danger small" asp-validation-for="Email" />
                    </div>
                    <div class="form-group">
                        <label class="text-secondary small" asp-for="Password">Введите пароль</label><br />
                        <input class="" asp-for="Password" /><br />
                        <span class="text-danger small" asp-validation-for="Password" />
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Войти" class=" btn btn-outline-success" />
                    </div>
                </div>
            </form>
        </div>

        <div class="m-2">
            <b>
                <label>Нет аккаунта? </label>
                <a asp-action="Register" asp-controller="Account">Зарегистрируйся!</a>
            </b>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}