﻿@{
    ViewData["Title"] = "Регистрация";
}
@model ShortLinks.BLL.ViewModels.RegisterModel

<div class="row justify-content-center">
    <div class="text-center pt-md-5 mt-md-2">
        <div class="mb-4">
            <h2>Регистрация</h2>
        </div>

        <div class="border border-secondary rounded bg-white">
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="form-group pl-5 pr-5 pt-3 pb-2">
                    <div class="">
                        <small><label class="text-secondary" asp-for="Email">Введите Email</label></small><br />
                        <input type="email" asp-for="Email" /><br />
                        <span class="text-danger small" asp-validation-for="Email" />
                    </div>
                    <div class="">
                        <small><label class="text-secondary" asp-for="FirstName">Введите ваше имя</label></small><br />
                        <input asp-for="FirstName" /><br />
                        <span class="text-danger small" asp-validation-for="FirstName" />
                    </div>
                    <div class="">
                        <small><label class="text-secondary" asp-for="LastName">Введите вашу фамилию</label></small><br />
                        <input asp-for="LastName" /><br />
                        <span class="text-danger small" asp-validation-for="LastName" />
                    </div>
                    <div class="">
                        <small><label class="text-secondary" asp-for="Password">Введите пароль</label></small><br />
                        <input asp-for="Password" /><br />
                        <span class="text-danger small" asp-validation-for="Password" />
                    </div>
                    <div class="">
                        <small><label class="text-secondary" asp-for="ConfirmPassword">Повторите пароль</label></small><br />
                        <input asp-for="ConfirmPassword" /><br />
                        <span  class="text-danger small" asp-validation-for="ConfirmPassword" />
                    </div>
                    <br />
                    <div class="">
                        <input class="btn btn-outline-success" type="submit" value="Регистрация" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}