﻿@model Project
@{
    Layout = null;
}

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="text-sm-secondary text-sm-center">Подтвердите действие</h4>
        </div>
        <div class="modal-body">
            <br />
            <dl class="dl-horizontal">
                <dt class="text-sm-center">
                    Вы действительно хотите удалить<i><q>@Model.Caption</q></i>
                    <br />
                    со всеми ссылками?
                </dt>
            </dl>
            <br />
        </div>
        <div class="modal-footer">
            <div class=" container">
                <div class="form-group d-flex justify-content-sm-around">
                    <form method="post" asp-action="Delete" asp-controller="Project" asp-route-projectId="@Model.Id">
                        <input type="submit" value="Удалить" class="btn btn-outline-danger">
                    </form>
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Отменить </button>
                </div>
            </div>
        </div>
    </div>