﻿@model Project
@{
    ViewData["Title"] = "Создание проекта";
}
<div class="row justify-content-center">
    <div class="col-md-5">
        <br />
        <br />
        <div>
            <h3 class="text-center">Создание проекта</h3>
        </div>
        <br />
        <div class="border border-secondary rounded bg-white p-4 m-3">
            <form asp-action="Create" asp-controller="Project" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div>
                    <div class="form-group">
                        <label class="text-secondary control-label small" asp-for="Caption">Название</label><br />
                        <input type="text" asp-for="Caption" size="48" />
                        <span class="text-danger small"  asp-validation-for="Caption" />
                    </div>
                    <div class="form-group">
                        <label class="text-secondary small" asp-for="Description">Описание</label><br />
                        <textarea asp-for="Description" cols="50" rows="5"></textarea>
                        <span class="text-danger small" asp-validation-for="Description" />
                    </div>
                    <div class="form-group row justify-content-around">
                        <div class="ml-sh-5">
                            <input type="submit" value="Создать" class="btn btn-outline-primary" />
                        </div>
                        <div>
                            <button onclick="JavaScript:window.history.back(1); return false;" class="btn btn-outline-warning">Отмена</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}