﻿@model IEnumerable<Project>
@{
    Project defaultProject = Model.ElementAt(0);
    ViewData["Title"] = "Проекты";
}


<div class="col">
    <div class="text-center m-sm-1">
        <p class="display-3 ">Проекты</p>
        <p class="">Нет подходящего проекта? <a asp-action="Create" asp-controller="Project">Создайте новый.</a> </p>
    </div>
    <br />
    <div>
        <table class="table ">
            <tr class="font-weight-bold text-center text-secondary justify-content-between">
                <td style="width:23vw">Название</td>
                <td style="width:62vw">Описание</td>
                <td style="width:5vw">Кол-во ссылок</td>
                <td style="width:2vw"></td>
                <td style="width:2vw"></td>
                <td style="width:2vw"></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="text-black-50">
                    <td>
                        @Html.ActionLink(
                           $"{item.Caption}",
                           "Links",
                           "Project",
                           item,
                           new { @class = "text-black-50" }
                        )
                    </td>
                    <td>@item.Description</td>
                    <td class="text-sm-center">@item.Links.Count()</td>
                    <td title="Открыйть прект">
                        <a asp-action="Links" asp-controller="Project" asp-route-projectId="@item.Id" class="text-black-50 ">
                            <i class="far fa-folder-open zoom"></i>
                        </a>
                    </td>
                    <td title="Редактировать">
                        <a asp-action="Edit" asp-controller="Project" asp-route-projectId="@item.Id" class="text-black-50 ">
                            <i class="far fa-edit zoom"></i>
                        </a>
                    </td>
                    <!-- If it's default project we can't delete it-->
                    @if (item != defaultProject)
                    {
                        <td class="">

                            <div id="modDialog" class="modal fade">
                                <div id="dialogContent" class="modal-dialog"></div>
                            </div>
                            <div class="">
                                <a asp-action="ConfirmDelete" asp-controller="Project" asp-route-projectId="@item.Id" class="text-black-50 delItem zoom">
                                    <i title="Удалить" class="fas fa-trash zoom"> </i>
                                </a>
                            </div>

                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/MyScripts.js"></script>
}

