﻿

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShortLinks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/MyStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body class="">
    <header>
        <div class="d-flex justify-content-md-between p-3  text-white" style="background: #57233e">
            <div class="ml-5">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="text-white m-2" asp-action="ShowMine" asp-controller="Link">Мои ссылки</a>
                    <a class="text-white m-2" asp-action="Show" asp-controller="Project">Мои проекты</a>
                    <a class="text-white m-2" asp-action="Show" asp-controller="Statistics">Статистика</a>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="">
                    <div class="row float-right">
                        <label class="mr-3">Вы вошли как @User.Identity.Name</label>
                        <a class="mr-5 text-white" asp-action="Logout" asp-controller="Account">Выйти</a>
                    </div>
                </div>
            }
            else
            {
                <div class="d-sm-inline-flex pr-3 ">
                    <a class="text-white mr-3" asp-action="Login" asp-controller="Account">Войти</a>
                    <a class="text-white mr-5" asp-action="Register" asp-controller="Account">Зарегистрироваться</a>
                </div>
            }

        </div>
       
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top fixed-bottom footer  text-muted">
        <div class="container " style="border-color:#e5d8ed;">
            &copy; 2020 - ShortLinks web service - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
